@charset "ISO-8859-1";

body{
    margin: 0;
    padding: 0;
    /* background-color: #e2e2e2; */
	background-image: url('/images/Baground1.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    /* background-position: center center; */
    font-family: Arial, sans-serif; 
}